*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: black;
}

#movieForm, #updateForm, #deleteForm, #getForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    margin: 20px 10px;
}

#movieDetails {
    margin: 20px 10px;
    padding: 20px;

}

#moviesList{
    margin: 10px;
    padding: 20px;
}

