<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
      <a href="allMovies.html">Movies</a>
      <a href="getMovie.html">Get Movie</a>
      <a href="addMovie.html">Add Movie</a>
      <a href="addDirector.html">Add Director</a>
      <a href="updateMovie.html">Update Movie</a>
      <a href="deleteMovie.html">Delete Movie</a>
      <button id="logoutBtn">Logout</button>
    </nav>
    <form id="directorForm">
        <label for="name">Director Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="birthYear">Birth Year:</label>
        <input type="number" id="birthYear" name="birthYear" required>
        <button type="submit">Add Director</button>
    </form>
</body>
<script src="script.js" defer></script>
</html>