<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <a href="allMovies.html">Movies</a>
      <a href="getMovie.html">Get Movie</a>
      <a href="addMovie.html">Add Movie</a>
      <a href="addDirector.html">Add Director</a>
      <a href="updateMovie.html">Update Movie</a>
      <a href="deleteMovie.html">Delete Movie</a>
      <button id="logoutBtn">Logout</button>
    </nav>
    <form id="movieForm">
      <input type="text" id="title" placeholder="Enter movie title" />
      <input type="number" id="year" placeholder="Enter release year" />
      <input type="number" id="director_id" placeholder="Enter director ID" />
      <input type="number" id="length" placeholder="Enter movie length in minutes" />
      <button type="submit">Add Movie</button>
    </form>
    <script src="script.js" defer></script>
  </body>
</html>
